@keyframes slideLeft {
	0%{ 
		transform: translateX(-100%); 
	}
	100%{ 
		transform: translateX(0%); 
	}
}

.me_box{
	position: absolute;
	top: 20%;
	left: 60%;
	transition: all 2s ease-in;
}
.me_box:hover{
	width: 26%;
}

body{
	background-image: url('./images/background.png');
	background-size: cover;
	font-family: Lato;	
}
nav{

	background-color: #FFF;
	overflow-y: auto;
	position: fixed;
	float: right;
	margin-top: 5%;
	margin-left: 90%;
	background: linear-gradient(45deg, black, grey);

}
a{	
	color: #fff;
	display: block;
	text-decoration: none;
}
.main{
	position: absolute;
	background-color: #000;
	color: #fff;
	top:0%;
	left:0%;
	width: 100%;
	margin-bottom: 20px;
	background: linear-gradient(45deg, black, grey);

}
.content{
	margin-top: 7%;
	padding: 0 10% 0 10%;
}
.big_box{
	animation: .5s ease-in 0s 1 slideLeft;
	color: #000;
	/*background-color: #000;*/
	height: 500px;
}
.about-me{
	animation: .5s ease-in 0s 1 slideLeft;
	margin-top: 15%;
	margin-left: 10%;
	font-size: 25px;
}
.brand-statement{
	margin-top: 15%;
	margin-left: 10%;
	font-size: 25px;
}

/*HTML IMG*/
.top,.bottom{
	opacity: .2;
	width: 30%;
	height:30%;
}
.top{
	height: 15%;
	width: 25%;
	position: absolute;
	top:20%;
}
.bottom{

}
/*PROJECT PAGE CSS*/

.description{
	color: #000;
}
.projects{
	margin-top: 10%;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	margin-top: 10%;
	animation: .5s ease-in 0s 1 slideLeft;
}
.project_box{
	width: 200px;
	height: 250px;
	
	flex: 1;

}
.project_box img{
	padding-left: 40px;
	width:100px;
	height:100px;
}
.project_box h3{
	color: #000;
}
button{
	width: 200px;
	background:none;
  	border: 1px solid #fff;
  	font-size:1em;
  	color: #fff;
  	transition: all .5s ease-in;
}
button:hover{
	background: #fff;
	color: #000;
}
/*DISPLAYS*/
.displays{
	animation: .5s ease-in 0s 1 slideLeft;
	position: absolute;
	margin-top: 10%;
	margin-left: 10px;
}
.d_display{
	width: 200px;
	height: 200px;
}
/*FOOTER*/
footer{
	margin-left: 0;
	left:0%;
	bottom:0%;
	position: absolute;
	width: 100%;
	background-color: #000;
	color: #fff;
	background: linear-gradient(45deg, black, grey);

}
.foot{
	display: inline;
	transition: all .5s ease-in;
}
.foot:hover{
	color: #000;
	background-color: #fff;
}
