body{
	margin: 0;
}
button{
	background: none;
	border: none;
	height: 5vh;
	width: 10vh;
	transition: background .5s ease-in-out;
}
button:hover{	
	background-color: rgba(0,0,0,.3);
}
h1,p{
	margin: 0;
}
nav{
	border: 1px solid black;
	position: fixed;
	z-index: 1;
	background: #fff;
	width: 100vw;
}
.main{
	padding-top: 5vh;
}
.content{
	background-color: grey;
	height: 100vh;
	transition: 1s opacity;

}
.content .inner{
	padding-top: 50vh;
	padding-left: 50vw;
}
.anim{
	animation: rotateIn ease-in .5s;
	animation-fill-mode: forwards;	
}
.home{
	background-image: url('./images/comp.jpeg');
	background-size: cover;
	color: #fff;
}	
@keyframes rotateIn{
	from{
		transform-origin: right bottom;
		transform: rotate3d(0,0,1,1deg);
		opacity:.5;
	}
	to{
		transform-origin: right bottom;
		transform: none;
		opacity: 1;
	}
}